@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --pink:#e84393;
   --red:#c0392b;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
}

*::selection{
   background-color: var(--pink);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--pink);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

body{
   background: var(--light-bg);
}

section{
   padding:3rem 2rem;
}

.header{
    position: sticky;
    top:0; left:0; right:0;
    background-color: var(--white);
    z-index: 1000;
    box-shadow: var(--box-shadow);
 }
 
 .header .flex{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 2rem;
    max-width: 1200px;
    position: relative;
 }
 
 .header .flex .logo{
    font-size: 2.5rem;
    color:var(--pink);
 }
 
 .header .flex .navbar ul{
    list-style: none;
 }
 
 .header .flex .navbar ul li{
    float: left;
    position: relative;
 }
 
 .header .flex .navbar ul li a{
    font-size: 2rem;
    padding:1rem 1.5rem;
    display: block;
    color:var(--light-color);
    text-transform: capitalize;
 }
 
 .header .flex .navbar ul li a:hover{
    background-color: var(--pink);
    color:var(--white);
 }
 
 .header .flex .navbar ul li ul{
    position: absolute;
    left:0;
    width: 15rem;
    background-color: var(--white);
    animation: fadeIn .2s linear;
    display: none;
 }
 
 .header .flex .navbar ul li ul li{
    width: 100%;
 }
 
 .header .flex .navbar ul li:hover ul{
    display: inline-block;
 }

 .header .flex .icons > *{
    font-size: 2.5rem;
    margin-left: 1rem;
    color:var(--black);
    cursor: pointer;
 }
 
 .header .flex .icons > *:hover{
    color:var(--pink);
 }
 
 .header .flex .icons span{
    font-size: 2rem;
 }
 
 #menu-btn{
    display: none;
 }
 
 .header .flex .account-box{
    position: absolute;
    top:120%; right:2rem;
    background-color: var(--white);
    border:var(--border);
    text-align: center;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: .5rem;
    width: 33rem;
    display: none;
    animation: fadeIn .2s linear;
 }
 
 .header .flex .account-box.active{
    display: block;
 }
 
 .header .flex .account-box p{
    padding-bottom: 1rem;
    font-size: 2rem;
    color:var(--light-color);
    line-height: 1.5;
 }
 
 .header .flex .account-box p span{
    color:var(--pink);
 }
 
 .header .flex .account-box .delete-btn{
    margin-top: .5rem;
 }
 
 .footer{
    background-color: var(--white);
 }
 
 .footer .box-container{
    max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
 }
 
 .footer .box-container a,
 .footer .box-container p{
    font-size: 1.7rem;
    color:var(--light-color);
    padding:1rem 0;
    display: block;
 }
 
 .footer .box-container a i,
 .footer .box-container p i{
    color:var(--pink);
    padding-right: 1rem;
 }
 
 .footer .box-container a:hover{
    text-decoration: underline;
    color:var(--pink);
 }
 
 .footer .credit{
    text-align: center;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    border-top: var(--border);
    font-size: 2rem;
    color:var(--light-color);
 }
 
 .footer .credit span{
    color:var(--pink);
 }
 
 
 
.heading{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background-color: var(--black);
    text-align: center;
    min-height: 25vh;
 }
 
 .heading h3{
    font-size: 5.5rem;
    color:var(--white);
    text-transform: uppercase;
 }
 
 .heading p{
    font-size: 2.5rem;
    color:var(--light-white);
 }
 
 .heading p a{
    color:var(--pink);
 }
 
 .heading p a:hover{
    text-decoration: underline;
 }
 
 .display-order{
    max-width: 1200px;
    margin:0 auto;
    text-align: center;
    padding-bottom: 0;
 }
 
 .display-order p{
    display: inline-block;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    padding:1rem 1.5rem;
    margin:.5rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border:var(--border);
 }
 
 .display-order p span{
    color:var(--red);
 }
 
 .display-order .grand-total{
    margin-top: 2rem;
    font-size: 2.5rem;
    color:var(--light-color);
 }
 
 .display-order .grand-total span{
    color:var(--red);
 }
 
 .checkout form{
    background-color: var(--white);
    border:var(--border);
    max-width: 1200px;
    margin:0 auto;
    border-radius: .5rem;
    padding:2rem;
    box-shadow: var(--border);
 }
 
 .checkout form h3{
    padding:1.5rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    background-color: var(--black);
    color:var(--white);
    border-radius: .5rem;
    text-align: center;
    text-transform: capitalize;
 }
 
 .checkout form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
 }
 
 .checkout form .flex .inputBox{
    flex:1 1 40rem;
 }
 
 .checkout form .flex .inputBox input,
 .checkout form .flex .inputBox select{
    margin:1rem 0;
    width: 100%;
    background-color: var(--light-bg);
    padding:1.2rem 1.4rem;
    border:var(--border);
    font-size: 1.8rem;
    color:var(--black);
    border-radius: .5rem;
 }
 
 .checkout form .flex .inputBox span{
    font-size: 2rem;
    color:var(--light-color);
 }
 
   